
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <title>Footer fragment across site `Serial Series`</title>
</head>
<body>

<footer th:fragment="footer">
<div class="container-fluid">
  <div class="row">

        <div class="col-md-4"><a href="#">Twitter</a></div>
        <div class="col-md-4"><a href="#">Facebook</a></div>
       <div class="col-md-4"><a href="#">TARDIS</a></div>

    
   
    </div></div>
     <div class="blockquote-footer text-right"><span class="text-capitalize">Copyright Serial Series 2020</span></div>
</footer>
</body></html>