<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Insert title here</title>
</head>
<body>


<header th:fragment="top">


    <!-- Bootstrap Hamburger -->

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="http://localhost:8080">SerialSeries</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="http://localhost:8080">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://localhost:8080/series/table">All series</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://localhost:8080/series/all">Featured series</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://localhost:8080/stations">All stations</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Take an action
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="http://localhost:8080/series/all">All Series</a>
                        <a class="dropdown-item" href="http://localhost:8080/stations">All stations</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="http://www.netflix.com">Buy Netflix</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Secret stuff</a>
                </li>
            </ul>
        </div>

        <form class="form-inline my-2 my-lg-0" action="http://localhost:8080/series/search" method="post">
            <input class="form-control mr-sm-2" type="search" placeholder="Meine Serie" aria-label="Search"
                   id="suchbegriff" name="suchbegriff">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>&nbsp;&nbsp;

        <!--        Begin Login/Logout Button-->
        <div class="col-xs-12">
            <button sec:authorize="!isAuthenticated()" class="btn btn-primary btn-block" data-target="#loginModal" data-toggle="modal"
                    th:href="@{/login}">Anmelden
            </button>
            <form sec:authorize="isAuthenticated()" class="form-signin dropdown">
                <a class="btn btn-primary dropdown-toggle" href="#" id="navbarDropdown" role="button"
                   data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">Du bist eingeloggt</a>
                <div class="dropdown-menu pull-right" role="menu" aria-labelledby="navbarDropdown">
                    <a class="pl-3"><b>Benutzer:</b></a><br>
                    <a class="pl-3" sec:authentication="name"></a>
                    <div class="dropdown-divider"></div>
                    <a class="nav-link disabled" aria-disabled="true" href="#" tabindex="-1">1. Lorem ipsum</a>
                    <a class="nav-link disabled" aria-disabled="true" href="#" tabindex="-1">2. Lorem ipsum</a>
                    <a class="nav-link disabled" aria-disabled="true" href="#" tabindex="-1">3. Lorem ipsum</a>
                    <a class="pl-3" th:href="@{/logout}">Abmelden</a>
                </div>
            </form>
            <div class="modal fade" data-keyboard="false" data-backdrop="static" id="loginModal" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Anmelden</h4>
                        </div>
                        <div class="modal-body">
                            <form th:replace="fragments/login-form.html :: login-form">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--        Ende Login/Logout Button-->

    </nav>

    <!-- Ende Bootstrap-Navi -->

    <section class="jumbotron text-center">
        <h1>Serial Series</h1>
        <!-- 	<img th:src="@{/images/test-logo-200x100.png}"  /> -->
        <p>The world's most popular series administration site</p>
    </section>
</header>
</body>
</html>