<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <title>Login</title>
</head>
<body>
<form th:fragment="login-form" method="post" action="/login">
    <div class="form-group" >
        <label for="username" class="sr-only">Benutzername</label>
        <input type="text" id="username" name="username" class="form-control" placeholder="E-Mail"
               required="" autofocus="">
    </div>
    <div>
        <label for="password" class="sr-only">Passwort</label>
        <input type="password" id="password" name="password" class="form-control" placeholder="Passwort"
               required="">
    </div>
    <br>


    <a th:href="@{/register}">Registrieren!</a>


    <br><br>
    <input type="checkbox" name="remember-me"> Erinnere dich an mich.<br><br>
    <div class="modal-footer">
        <button class="btn btn-primary" type="submit" autofocus="" >Anmelden</button>
        <button class="btn btn-primary text-right" data-dismiss="modal">Abbrechen</button>
    </div>
</form>
</body>
</html>