<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/external-resources.html :: headFragment">
<title id="pageTitle">Serial Series | Home</title>
</head>
<body>
	<header th:replace="fragments/header.html :: top">
	</header>
 <img src="../../images/app-entertainment-ipad-mockup-265687.jpg" title="Logo de Good Thymes" alt="Logo de Good Thymes"
     	th:attr="src=@{/images/app-entertainment-ipad-mockup-265687.jpg},title=#{logo},alt=#{logo}" />
	<section id="top-teaser">
		<article>
			<h2>Don't miss this one!</h2>
			<p>Lorem ipsum dolor sit amet ...</p>
			<a href="#">more</a>
		</article>
		<article>
			<h2>Don't miss this one!</h2>
			<p>Lorem ipsum dolor sit amet ...</p>
			<a href="#">more</a>
		</article>
		<article>
			<h2>Don't miss this one!</h2>
			<p>Lorem ipsum dolor sit amet ...</p>
			<a href="#">more</a>
		</article>
	</section>

	<footer th:replace="fragments/footer.html :: footer">
	</footer>
</body>
</html>
