<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/external-resources.html :: headFragment">
<title id="pageTitle">Serial Series | Home</title>
<meta charset="utf-8">
</head>
<style>
        table {
            border-collapse: collapse;
        }

        th {
            background-color: #4AAF55;
            color: white;
        }

        tr:nth-child(even) {
            background-color: #f2f2d1;
        }

        th, td {
            border-bottom: 1px solid #ddd;
            padding: 10px 5px;
            text-align: left;
        }
    </style>
<body>
	<header th:replace="fragments/header.html :: top">
		</header>

<div class="row">
<div class="col-md-4">
 <img src="../../images/man-holding-remote-control-10401601.jpg" 
     th:attr="src=@{/images/man-holding-remote-control-10401601.jpg},title=#{logo},alt=#{logo}" />
     </div>
<div class="col-md-4"> 
  <img src="../../images/television-remote-control-525705_1920_600x400.jpg" 
     th:attr="src=@{/images/television-remote-control-525705_1920_600x400.jpg},title=#{logo},alt=#{logo}" />
 		</div>
 <div class="col-md-4">
  <img src="../../images/room-2559790_1920_600x400.jpg" 
     th:attr="src=@{/images/room-2559790_1920_600x400.jpg},title=#{logo},alt=#{logo}" />
     	</div>
</div>

<h1>Program title by Station</h1>   
<table>
    <thead>
    <tr>
        <th>broadcasting time</th>
		<th>Program Title</th>
		<th>description</th>  
    </tr>
    </thead>
    <tbody>
   
    <tr th:each="schedule : ${allSchedules}">
        <td th:text="${#temporals.format(schedule.airDateTime,'dd.MM.yyyy hh:mm')}">Broadcasting time</td>
        <td th:text="${schedule.episode.name}">Program Title</td>
        <td th:text="${schedule.episode.description}">description</td>  
      </tr>
    </tbody>
</table>
<a href="/stations">Return to station's list</a>
<footer th:replace="fragments/footer.html :: footer">
	</footer>
</body>
</html>