<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/external-resources.html :: headFragment">
<title id="pageTitle">Serial Series | Home</title>
<meta charset="utf-8">
</head>
<body>
	<header th:replace="fragments/header.html :: top">
		</header>

<form action="/stations/schedule" method="post">
    <input name="idStation" th:value="${station.id}" type="hidden">
    <h1 th:text="${station.name}"></h1>
    
    <label for="schedule">AirDataTime:</label>
    <select id="schedule" name="id">
        <option th:each="schedule : ${allschedules}" th:text="${schedule.air_date_time}"
                th:value="${schedule.id}">AirDataTime
        </option> 
    </select>
    <input type="submit" value="Send">
</form>
 <img src="../../images/man-holding-remote-control-10401601.jpg" 
     th:attr="src=@{/images/man-holding-remote-control-10401601.jpg},title=#{logo},alt=#{logo}" />
<h1>Program title by Station</h1>   
<table>
    <thead>
    <tr>
        <th>broadcasting time</th>
		<th>Program Title</th>
    </tr>
    </thead>
    <tbody>
   
    <tr th:each="schedule : ${allSchedules}">
        <td th:text="${schedule.airDateTime}">Broadcasting time</td>
        <td th:text="${schedule.episode.name}">Program Title</td>
      </tr>
    </tbody>
</table>

<footer th:replace="fragments/footer.html :: footer">
	</footer>
</body>
</html>