<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/external-resources.html :: headFragment">
<title id="pageTitle">Serial Series | Ausgewählte Serien</title>
</head>
<body>

	<header th:replace="fragments/header.html :: top"> </header>


	<!--  Card   -->

	<div th:each="series : ${series}">


		<div class="card series_all_card">

			<img class="card-img-top" th:src="${series.picture}"
				th:alt="${series.name}" th:title="${series.name}"
			>
			<div class="card-body">

				<h5 th:text="${series.name}">Name</h5>
				<p class="card-text" th:text="${series.description}"
					style="text-overflow: ellipsis; overflow: hidden; max-height: 7.5em;"
				>Beschreibung</p>

			</div>
			<div class="card-footer">

				<input type="checkbox" data-onstyle="success"
					data-offstyle="default" th:data-seriesid="${series.id}"
					th:onchange="subscription(this)" data-size="md"
					data-toggle="toggle" data-on="✔ Abo"
					data-off="✘ Kein Abo"
					th:checked="${subscriptions.contains(series)}"
				>
				<div class="table-responsive-sm">

					<table class="table  table-hover table-striped">

						<thead>
							<tr>
								<th scope="col" class="w-25 p-3">Titel</th>
								<th scope="col" class="w-25 p-3">Sendezeit</th>
							</tr>
						</thead>
						<tbody>

							<tr th:each="episode : ${episodes}">
								<td><span th:text="${episode.episodeTitle}"></span></td>
								<td><th:block th:if="${episode.schedules!=null}">
										<th:block th:each="schedule : ${episode.schedules}">
											<span
												th:text="${#temporals.format(schedule.airDateTime,'dd.MM.yyyy hh:mm')}"
											></span>
										</th:block>
									</th:block> <th:text th:if="${#lists.size(episode.schedules)==0}">
										(keine)
									</th:text></td>
							</tr>

						</tbody>

					</table>
				</div>

			</div>


		</div>
	</div>



	<footer th:replace="fragments/footer.html :: footer"> </footer>
</body>
</html>
