<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/external-resources.html :: headFragment">
<title id="pageTitle">Serial Series | Ausgewählte Serien</title>
</head>
<body>

	<header th:replace="fragments/header.html :: top"> </header>


<!-- 	<script th:src="@{/js/series.js}"></script> -->
	<!--  Card   -->

	<div th:each="serie : ${series}">


		<div class="card series_all_card">
	<!-- 	  <a th:href="@{subscribe(seriesID=${series.id})}"> -->
			<img class="card-img-top" th:src="${serie.picture}"
				th:alt="${serie.name}" th:title="${serie.name}"
			>
			<div class="card-body">

				<h5 th:text="${serie.name}">Name</h5>
				<p class="card-text" th:text="${serie.description}"
					style="text-overflow: ellipsis; overflow: hidden; max-height: 7.5em;"
				>Beschreibung</p>
				<!--             </a> -->
			</div>
			<div class="card-footer">
				<small class="text-muted">Letztes Update vor 3 Minuten</small>
			</div>


		</div>
	</div>



	<footer th:replace="fragments/footer.html :: footer"> </footer>
</body>
</html>
