<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/external-resources.html :: headFragment">
<title id="pageTitle">Serial Series | All Series</title>
</head>
<body>
	<header th:replace="fragments/header.html :: top">
	</header>

	<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Description</th>
        <th>Pic</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr><td rowspan="6">Test</td></tr>
    <tr th:each="series : ${series}">
       <!--  <td th:text="${series.id}">id</td> -->
        <td th:text="${series.name}">name</td>
        <td th:text="${series.description}">Description</td>
        <td><img th:src="${series.picture}" width="200"/></td>
        <td th:text="${series.rating}">4</td>
        <td th:text="${series.language}">English</td>
        <td><a th:href="@{/series/watch(idSeries=${series.id})}">Add to watch list</a></td>
        
    </tr>
    </tbody>
</table>

	<footer th:replace="fragments/footer.html :: footer">
	</footer>
</body>
</html>
