<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/external-resources.html :: headFragment">
<title id="pageTitle">Serial Series | Station List</title>
</head>
<body>



<header th:replace="fragments/header.html :: top">
	</header>
 <img src="../../images/man-holding-remote-control-10401601.jpg" 
     th:attr="src=@{/images/man-holding-remote-control-10401601.jpg},title=#{logo},alt=#{logo}" />

<h1>Station</h1>

<table class="table  table-hover table-striped">
    <thead>
    <tr>
<!--         <th>Id</th> -->
<!--         <th>Name</th> -->
<!--         <th>Country</th> -->
<!--         <th>Stationlogo</th> -->
    </tr>
    </thead>
    <tbody>
   
    <tr th:each="station : ${stations}">
<!--         <td th:text="${station.id}">id</td> -->
<!--         <td th:text="${station.name}">name</td> -->
<!--         <td th:text="${station.country}">country</td> -->

		<img th:src="@{${station.picture}}"/>
    </tr>
<!-- 		<td img th:src="@{${station.stationlogo}}">stationlogo</td> -->
		
		
<!--         <td th:text="${station.stationlogo}">stationlogo</td> -->
<!--         < img th:src="${'station.stationlogo;base64,'+image}" alt="" /> -->
<!--         <td th:text="${station.schedules.episode_id}">episode_id</td> -->
<!-- 	<td> <img th:src="${station.picture}">airDate</td> -->
		 <a button type="button" class="btn btn-light" th:href="@{findOne/(id=${station.id})}">Zeige die Serien</a> 
		 </td>
    </tbody>
</table>
<footer th:replace="fragments/footer.html :: footer">
	</footer>
</body>
</html>