<!--
<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Customer List</title>
</head>
<body>
<section>
    <h1>Customer List</h1>
    <table border="1">
        <tr>
            <th>Name</th>
            <th>First name</th>
            <th>Last name</th>
            <th>Address</th>
            <th>Actions</th>
        </tr>
        <tr th:each="customer : ${customers}">
        <tr th:text="${customer.name}">Martin</td>
        <tr th:text="${customer.firstName}">Martin</td>
        <tr th:text="${customer.lastName}">Schmidt</td>
        <tr th:text="${customer.adress}">Schützstraße 19a, 53773 Hennef</td>
            <td>
                <a th:href="@{'/customer/edit/' + ${customer.id}}">Edit</a>
                <a th:href="@{'/customer/delete/' + ${customer.id}}">Delete</a>
            </td>
        </tr>
    </table>
</section>
</body>
</html>-->
